services:
  users-service:
    build: ./users-service
    ports: 
     - 8080:8080
    env_file:
      - ./users-service/.env
    depends_on:
      - mongodb
      - redis

  mongodb:
    image: mongo:7
    ports:
     - "27017:27017"
    volumes: 
      - dbdata:/data/db

  redis:
    image: redis:latest
    ports:
     - "6379:6379"

networks:
  app-network:

volumes:
  dbdata: